Decoder for `Base64 Encoded Binary data` input.

### Use Case

Needed for decoding `Base64 Encoded Binary data` input.
For example, we have settings like this:
```
  [[inputs.gnmi.subscription]]
    name = "ps"
    origin = "openconfig"
    path = "/components/component/power-supply/state"
    subscription_mode = "sample"
    sample_interval = "60s"
```

and the data coming in looks like this:
```
app.company.network.device.ps,
device=DEV-SW-01,
host=dev-server,
name=PowerSupply1/B,
telemetry_source=network 
openconfig_platform_psu:input_voltage="Q1HAAA==",
openconfig_platform_psu:output_current="P3YEGQ==",
openconfig_platform_psu:output_voltage="QmF3zw==",
openconfig_platform_psu:output_power="QlMAAA==",
openconfig_platform_psu:enabled=true,
openconfig_platform_psu:capacity="RDLAAA==",
openconfig_platform_psu:input_current="Psk3TA==" 1709529211201225000
```

Model `opeconfig-platform-cpu` specifies that we should expect a binary data as stated here:
![image](https://github.com/influxdata/telegraf/assets/147031422/478768a1-5e51-46ec-afd2-b9943304195d)
(image taken from [YANGSUITE](https://github.com/CiscoDevNet/yangsuite) app)

The values for most of the fields are Base64 encoded strings,
which needs to be convert to binary data,
which we then need to convert to float (ieeefloat32) as specified in the specification above.

### Expected behavior

Base64 Encoded String Data comes in.
Process field values to be converted to Binary Data.
Binary Data converted to type `float` before sending to the output plugin.

### Actual behavior

Currently not possible as far as I am informed.
Issue also discussed on [Slack](https://influxcommunity.slack.com/archives/CH99HUH8V/p1709694616723249)

### Additional info

_No response_

@rc-networks could you please add `dump_responses = true` to your `[[inputs.gnmi]]` section and run `telegraf ... --test --debug` once? Please post the lines starting with `D! [inputs.gnmi] Got update_`!?

Here is the output with `--test`
```
dev@dev-server:~/streaming_telemetry$ ./run.sh 
2024-03-08T02:32:44Z I! Loading config: /home/dev/streaming_telemetry/telegraf.conf
2024-03-08T02:32:44Z I! Loading config: /home/dev/streaming_telemetry/telegraf.d/ios_xe.conf
2024-03-08T02:32:44Z I! Loading config: /home/dev/streaming_telemetry/telegraf.d/output.conf
2024-03-08T02:32:44Z I! Loading config: /home/dev/streaming_telemetry/telegraf.d/processor.conf
2024-03-08T02:32:44Z I! Starting Telegraf 1.29.5 brought to you by InfluxData the makers of InfluxDB
2024-03-08T02:32:44Z I! Available plugins: 241 inputs, 9 aggregators, 30 processors, 24 parsers, 60 outputs, 6 secret-stores
2024-03-08T02:32:44Z I! Loaded inputs: gnmi
2024-03-08T02:32:44Z I! Loaded aggregators: 
2024-03-08T02:32:44Z I! Loaded processors: converter (3x) enum rename (6x)
2024-03-08T02:32:44Z I! Loaded secretstores: 
2024-03-08T02:32:44Z W! Outputs are not used in testing mode!
2024-03-08T02:32:44Z I! Tags enabled: host=dev-server telemetry_source=network
2024-03-08T02:32:44Z D! [agent] Initializing plugins
2024-03-08T02:32:44Z D! [inputs.gnmi] Internal alias mapping: map[openconfig:/components/component/power-supply/state:ps]
2024-03-08T02:32:44Z D! [agent] Starting service inputs
2024-03-08T02:32:44Z D! [agent] Stopping service inputs
2024-03-08T02:32:44Z D! [agent] Input channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Processor channel closed
2024-03-08T02:32:44Z D! [agent] Stopped Successfully
```

What are we looking for?

Oh sorry @rc-networks I think you need to do with `--debug` but without `--test` as we need to wait until data arrives from the device...

@rc-networks can you please test the binary in #14961, available once CI finished the tests!? You should be able to convert the data above using

```toml
[[inputs.file]]
  files = ["./test_configs/gnmi_issue_14950.influx"]
  data_format = "influx"

[[processors.parser]]
  parse_fields = ["openconfig_platform_psu:capacity"]
  merge = "override"

  data_format = "binary"
  endianness = "be"
  binary_encoding = "base64"
  [[processors.parser.binary]]
    entries = [{ name = "openconfig_platform_psu:capacity", type = "float32" }]

[[processors.parser]]
  parse_fields = ["openconfig_platform_psu:input_current"]
  merge = "override"

  data_format = "binary"
  endianness = "be"
  binary_encoding = "base64"
  [[processors.parser.binary]]
    entries = [{ name = "openconfig_platform_psu:input_current", type = "float32" }]

[[processors.parser]]
  parse_fields = ["openconfig_platform_psu:input_voltage"]
  merge = "override"

  data_format = "binary"
  endianness = "be"
  binary_encoding = "base64"
  [[processors.parser.binary]]
    entries = [{ name = "openconfig_platform_psu:input_voltage", type = "float32" }]

[[processors.parser]]
  parse_fields = ["openconfig_platform_psu:output_current"]
  merge = "override"

  data_format = "binary"
  endianness = "be"
  binary_encoding = "base64"
  [[processors.parser.binary]]
    entries = [{ name = "openconfig_platform_psu:output_current", type = "float32" }]

[[processors.parser]]
  parse_fields = ["openconfig_platform_psu:output_power"]
  merge = "override"

  data_format = "binary"
  endianness = "be"
  binary_encoding = "base64"
  [[processors.parser.binary]]
    entries = [{ name = "openconfig_platform_psu:output_power", type = "float32" }]

[[processors.parser]]
  parse_fields = ["openconfig_platform_psu:output_voltage"]
  merge = "override"

  data_format = "binary"
  endianness = "be"
  binary_encoding = "base64"
  [[processors.parser.binary]]
    entries = [{ name = "openconfig_platform_psu:output_voltage", type = "float32" }]
```

Thank you!
Looks like the given binary is working.
There's just too redundant code blocks for the same endpoint.

I tried putting multiple entries on the `parse_fields` and `entries` and it showed the same values for everything.
i.e.:
```
[[processors.parser]]
  parse_fields = ["openconfig_platform_psu:output_voltage", "openconfig_platform_psu:output_power"]
  merge = "override"

  data_format = "binary"
  endianness = "be"
  binary_encoding = "base64"
  [[processors.parser.binary]]
    entries = [{ name = "openconfig_platform_psu:output_voltage", type = "float32" }, {openconfig_platform_psu:output_power}]
```

Yes, because the parser gets the data field-by-field so your config will not work. Do you know if transporting floats as base64 encoded strings is a standard method in GNMI? If so, could you please point me to some official documentation?

@srebhan 
Thanks for working on this.
Got sick and did not managed to respond.

As for the question above, it's not about the GNMI, it's about the model that is being used.
Here is the standard [link](https://datatracker.ietf.org/doc/html/rfc6020#section-9.8) which states:
```
[9.8.2](https://datatracker.ietf.org/doc/html/rfc6020#section-9.8.2).  Lexical Representation

   Binary values are encoded with the base64 encoding scheme (see
   [[RFC4648], Section 4](https://datatracker.ietf.org/doc/html/rfc4648#section-4)).
```

@rc-networks so if this encoding is used, is it used for all data reported by the device or is this a per-subscription thing?

@srebhan It would be used on all data that is using models that return binary data.

@rc-networks thanks! Could you please open another feature request for the GNMI plugin, providing the link above, an (redacted) example configuration and some data with `dump_responses = true` set running Telegraf in debug mode (i.e. `telegraf ... --debug`)!? I would like to support this mode of operation in the GNMI input if it's according to the standard...

@srebhan I have implemented the fix for this using processors.converter plugin which allows us to target the same fields as I am facing the same issue but with 'cisco_telemetry_mdt' plugin. 
The config for my p.converter implementation looks like this:
```toml
 [processors.converter.fields]
    base64_ieee_float32 = ["input-voltage", "output-voltage"]
 ```
 Happy to submit a PR if you're ok with it?