dns_query: ability to configure RD (recursion desired) bit

### Use Case

My use case is running DNS queries directly against the authoritative nameservers I'm administering, for monitoring them.

For sending queries to authoritative nameservers one should _not_ set the RD bit enabled, but Telegraf's `dns_query` plugin has no way to configure this, currently (1.26.0).

### Expected behavior

A configuration option in `dns_query` to turn off the "recursion desired" bit in the queries it sends (default on).

E.g. (suggestion):

```toml
[[inputs.dns_query]]
  servers = ["167.71.76.101"]
  domains = ["www.i6t.nl"]
  recursion_desired = false
```

after which Telegraf should send queries with the RD-bit unset.

### Actual behavior

The "recursion desired" bit is set in the query, hardcoded, in the input plugin here:

https://github.com/influxdata/telegraf/blob/636f7c3598559281bea035dd24bf5e27a0e4292e/plugins/inputs/dns_query/dns_query.go#L130

### Additional info

The main benefit of running against the _authoritative_ servers directly instead of caching recursors is that errors show a lot faster. It may take hours before a caching recursor yields the error on records with a large TTL or, or long false positive alerts in cases like NXDOMAINs being cached for an extended period of time.

In order to query an authoritative nameserver, one _should_ not request recursion in the query ([RFC1034 4.3.1](https://www.rfc-editor.org/rfc/rfc1034.html#section-4.3.1)) by unsetting the RD bit.

> If recursive service is not requested or is not available, the non-recursive response will be one of the following:
>
>   - An authoritative name error indicating that the name does not exist.
>   - A temporary error indication.

Setting the RD-bit in the query regardless works in my case, but it's definitely not recommended, also as indicated by `dig` in the warning printed here:

```
$ dig MX mail.i6t.nl +rec @167.71.76.101
[...]
;; WARNING: recursion requested but not available
[...]
;; ANSWER SECTION:
mail.i6t.nl.            300     IN      MX      10 smtp-in-1.i6t.nl.
mail.i6t.nl.            300     IN      MX      10 smtp-in-2.i6t.nl.
[...]
```

See also [RFC 4697 section 2.10: Misdirected Recursive Queries](https://www.rfc-editor.org/rfc/rfc4697#section-2.10) which recommends a DNS client like Telegraf should raise an error in case the response does not have the RA (recursion available) bit set.

@gertvdijk can you please give the artifacts in #13755 a try and confirm that disable option works?


@powersj Oh thanks for this. 🙏🏼 
Yes, sure I can test this over the weekend, will report back.

> sigh, annoying bot removing the label already... unamused

heh no worries, let me know what you find out. I did forget to mention you will need to update your config to disable the recursion bit via: `query_options = ["DisableRecusion"]`

Thanks!



@gertvdijk were you able to try the PR?

I'm going to close this, but if someone or @gertvdijk are able to come back and test some new artifacts ping us and we can re-open.