tests are broken on linux systems

<!--
Please redirect any questions about Telegraf usage to the InfluxData Community
site: https://community.influxdata.com

Check the documentation for the related plugin including the troubleshooting
section if available.
-->

### System info:

```shell
$ go version
go version go1.17.1 linux/amd64
$ lsb_release -a
LSB Version:	1.4
Distributor ID:	Arch
Description:	Arch Linux
Release:	rolling
Codename:	n/a
```


### Steps to reproduce:

<!-- Describe the steps to reproduce the bug. -->

`make test` or more specifically `go test -short -race ./internal/...`

### Expected behavior:

Tests on master pass on all Linux systems (seem to work fine on CI systems)

### Actual behavior:

<!-- Describe what actually happened when you performed the above steps. -->
Get a number of failures related to `TestParseTimestamp`:

* TestParseTimestamp/UnixDate
* TestParseTimestamp/RubyDate
* TestParseTimestamp/RFC822
* TestParseTimestamp/RFC822Z
* TestParseTimestamp/RFC850
* TestParseTimestamp/RFC1123
* TestParseTimestamp/RFC1123Z
* TestParseTimestamp/RFC3339Nano

### Additional info:

[Full failure log](https://paste.ubuntu.com/p/Xwqdg7WRJw/)
