SNMP config test unsuccessful

### Relevant telegraf.conf

```toml
[[inputs.snmp]]
  alias = "my-wlc"
  agents = [ "1.1.1.1" ]

   timeout = "10s"
   ## Number of retries to attempt within timeout.

   interval = "60s"
   retries = 0 

   version = 3

   ## SNMP community string.
   # SNMPv3 auth parameters
   sec_name = "redacted"
   auth_protocol = "sha"      # Values: "MD5", "SHA", ""
   auth_password = "redacted"
   sec_level = "authPriv"     # Values: "noAuthNoPriv", "authNoPriv", "authPriv"
   priv_protocol = "AES"         # Values: "DES", "AES", ""
   priv_password = "redacted"


  name = "wlc-stats"
  [[inputs.snmp.field]]
    name = "hostname"
    oid = "RFC1213-MIB::sysName.0"
    is_tag = true

  [[inputs.snmp.field]]
    name = "wlc_uptime"
    oid = "DISMAN-EXPRESSION-MIB::sysUpTimeInstance"

  [[inputs.snmp.field]]
   name = "wlc_total_clients"
   oid = "CISCO-LWAPP-SYS-MIB::clsMaxClientsCount.0"

  [[inputs.snmp.field]]
   name = "wlc_aps"
   oid = "CISCO-LWAPP-SYS-MIB::clsSysApConnectCount.0"

  [[inputs.snmp.field]]
   name = "wlc_CPU_Usage"
   oid = "AIRESPACE-REF-MIB::airespace.1.1.5.1.0"

  [[inputs.snmp.field]]
   name = "wlc_free_RAM"
   oid = "AIRESPACE-REF-MIB::airespace.1.1.5.3.0"

  [[inputs.snmp.field]]
   name = "wlc_Model"
   oid = "AIRESPACE-REF-MIB::airespace.1.1.1.3.0"

#  [[inputs.snmp.field]]
#   name = "wlc_OS"
#   oid = "AIRESPACE-REF-MIB::airespace.1.1.1.10.0"

  [[inputs.snmp.field]]
   name = "wlc_Product_Version"
   oid = "AIRESPACE-REF-MIB::airespace.1.1.1.14.0"


  [[inputs.snmp.table]]
    name = "bsnDot11EssTable"
#    oid = "AIRESPACE-WIRELESS-MIB::bsnDot11EssTable"
    inherit_tags = [ "hostname" ]

    [[inputs.snmp.table.field]]
      name = "SSID"
      oid = "AIRESPACE-WIRELESS-MIB::bsnDot11EssSsid"
      is_tag = true

    [[inputs.snmp.table.field]]
      oid = "AIRESPACE-WIRELESS-MIB::bsnDot11EssNumberOfMobileStations"



[[inputs.snmp]]
  alias = "my-wlc"
  agents = [ "1.1.1.1" ]

   timeout = "90s"
   ## Number of retries to attempt within timeout.

   interval = "300s"
   retries = 0

   version = 3

   ## SNMP community string.
   # SNMPv3 auth parameters
   sec_name = "redacted"
   auth_protocol = "sha"      # Values: "MD5", "SHA", ""
   auth_password = "redacted"
   sec_level = "authPriv"     # Values: "noAuthNoPriv", "authNoPriv", "authPriv"
   priv_protocol = "AES"         # Values: "DES", "AES", ""
   priv_password = "redacted"

  [[inputs.snmp.field]]
    name = "hostname"
    oid = "RFC1213-MIB::sysName.0"
    is_tag = true

  [[inputs.snmp.table]]
    name = "bsnAPTable"
#    oid = "AIRESPACE-WIRELESS-MIB::bsnAPTable"
    inherit_tags = [ "hostname" ]

    [[inputs.snmp.table.field]]
      name = "APName"
      oid = "AIRESPACE-WIRELESS-MIB::bsnAPName"
      is_tag = true

    [[inputs.snmp.table.field]]
      name = "APMAC"
      oid = "AIRESPACE-WIRELESS-MIB::bsnAPDot3MacAddress"

    [[inputs.snmp.table.field]]
      name = "APLocation"
      oid = "AIRESPACE-WIRELESS-MIB::bsnAPLocation"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnApIfNoOfUsers"
     oid_index_suffix = ".0"
     name = "radio24Users"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfLoadChannelUtilization"
     oid_index_suffix = ".0"
     name = "24GUtil"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfPhyChannelNumber"
     oid_index_suffix = ".0"
     name = "radio24Channel"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfPoorSNRClients"
     oid_index_suffix = ".0"
     name = "radio24PoorSNRClients"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfRecommendedChannelNumber"
     oid_index_suffix = ".0"
     name = "radio24ReccomdendedChannel"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfRecommendedTxPowerLevel"
     oid_index_suffix = ".0"
     name = "radio24ReccomdendedTxPowerLevel"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfPhyTxPowerLevel"
     oid_index_suffix = ".0"
     name = "radio24TxPowerLevel"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnApIfNoOfUsers"
     oid_index_suffix = ".1"
     name = "radio5Users"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfLoadChannelUtilization"
     oid_index_suffix = ".1"
     name = "5GUtil"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfPhyChannelNumber"
     oid_index_suffix = ".1"
     name = "radio5Channel"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfPoorSNRClients"
     oid_index_suffix = ".1"
     name = "radio5PoorSNRClients"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfRecommendedChannelNumber"
     oid_index_suffix = ".1"
     name = "radio5ReccomdendedChannel"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfRecommendedTxPowerLevel"
     oid_index_suffix = ".1"
     name = "radio5ReccomdendedTxPowerLevel"

    [[inputs.snmp.table.field]]
     oid = "AIRESPACE-WIRELESS-MIB::bsnAPIfPhyTxPowerLevel"
     oid_index_suffix = ".1"
     name = "radio5TxPowerLevel"

  [[inputs.snmp.table]]
    name = "bsnMobileStationTable"
#    oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationTable"
#    inherit_tags = [ "hostname" ]

    [[inputs.snmp.table.field]]
      name = "TCliMAC"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationMacAddress"
      is_tag = true

    [[inputs.snmp.table.field]]
      name = "TCliSSID"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationSsid"
      is_tag = true

    [[inputs.snmp.table.field]]
      name = "policyManagerState"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationPolicyManagerState"

    [[inputs.snmp.table.field]]
      name = "CliMAC"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationMacAddress"

    [[inputs.snmp.table.field]]
      name = "CliSSID"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationSsid"

    [[inputs.snmp.table.field]]
      name = "CliAPMAC"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationAPMacAddr"

    [[inputs.snmp.table.field]]
      name = "CliBytesReceived"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationBytesReceived"

    [[inputs.snmp.table.field]]
      name = "CliBytesSent"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationBytesSent"

    [[inputs.snmp.table.field]]
      name = "CliIP"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationIpAddress"

    [[inputs.snmp.table.field]]
      name = "CliUserName"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationUserName"

    [[inputs.snmp.table.field]]
      name = "CliRSSI"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationRSSI"

    [[inputs.snmp.table.field]]
      name = "CliVlanId"
      oid = "AIRESPACE-WIRELESS-MIB::bsnMobileStationVlanId"
```


### Logs from Telegraf

```text
telegraf --test --config /etc/telegraf/telegraf.d/myconfig.conf
2023-07-07T09:02:05Z I! Loading config: /etc/telegraf/telegraf.d/myconfig.conf
2023-07-07T09:02:05Z I! Starting Telegraf 1.26.3
2023-07-07T09:02:05Z I! Available plugins: 235 inputs, 9 aggregators, 27 processors, 22 parsers, 57 outputs, 2 secret-stores
2023-07-07T09:02:05Z I! Loaded inputs: snmp (2x)
2023-07-07T09:02:05Z I! Loaded aggregators: 
2023-07-07T09:02:05Z I! Loaded processors: 
2023-07-07T09:02:05Z I! Loaded secretstores: 
2023-07-07T09:02:05Z W! Outputs are not used in testing mode!
2023-07-07T09:02:05Z I! Tags enabled: host=example.com
2023-07-07T09:02:05Z E! [telegraf] Error running agent: could not initialize input inputs.snmp::my-wlc: initializing table bsnDot11EssTable: initializing field SSID: translating: MIB search path: /root/.snmp/mibs:/usr/share/snmp/mibs:/usr/share/snmp/mibs/
Unlinked OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIB ::= { ciscoMgmt 326 }
Undefined identifier: ciscoMgmt near line 41 of /usr/share/snmp/mibs//CISCO-IP-LOCAL-POOL-MIB.txt
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolPriorityGroup ::= { ciscoIpLocalPoolMIBGroups 7 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolNotifGroupSup1 ::= { ciscoIpLocalPoolMIBGroups 6 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolStatsGroupSup1 ::= { ciscoIpLocalPoolMIBGroups 5 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolNotifGroup ::= { ciscoIpLocalPoolMIBGroups 4 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolStatsGroup ::= { ciscoIpLocalPoolMIBGroups 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolGroupGroup ::= { ciscoIpLocalPoolMIBGroups 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolConfigGroup ::= { ciscoIpLocalPoolMIBGroups 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocEntry ::= { cIpLocalPoolAllocTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupContainsEntry ::= { cIpLocalPoolGroupContainsTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolPriority ::= { cIpLocalPoolConfigEntry 9 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolRowStatus ::= { cIpLocalPoolConfigEntry 8 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupContainedIn ::= { cIpLocalPoolConfigEntry 7 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolInUseAddrs ::= { cIpLocalPoolConfigEntry 6 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolFreeAddrs ::= { cIpLocalPoolConfigEntry 5 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAddressHi ::= { cIpLocalPoolConfigEntry 4 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAddressLo ::= { cIpLocalPoolConfigEntry 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAddrType ::= { cIpLocalPoolConfigEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolName ::= { cIpLocalPoolConfigEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupTable ::= { cIpLocalPoolGroup 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupContainsTable ::= { cIpLocalPoolGroup 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocTable ::= { cIpLocalPoolStats 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatsTable ::= { cIpLocalPoolStats 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupEntry ::= { cIpLocalPoolGroupTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatsEntry ::= { cIpLocalPoolStatsTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocUser ::= { cIpLocalPoolAllocEntry 4 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocIfIndex ::= { cIpLocalPoolAllocEntry 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocAddr ::= { cIpLocalPoolAllocEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocAddrType ::= { cIpLocalPoolAllocEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolChildIndex ::= { cIpLocalPoolGroupContainsEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupName ::= { cIpLocalPoolGroupContainsEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIB ::= { ciscoMgmt 326 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStats ::= { ciscoIpLocalPoolMIBObjects 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroup ::= { ciscoIpLocalPoolMIBObjects 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolConfig ::= { ciscoIpLocalPoolMIBObjects 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBGroups ::= { ciscoIpLocalPoolMIBConform 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBCompliances ::= { ciscoIpLocalPoolMIBConform 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupInUseAddrs ::= { cIpLocalPoolGroupEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupFreeAddrs ::= { cIpLocalPoolGroupEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolPercentAddrThldHi ::= { cIpLocalPoolStatsEntry 7 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolPercentAddrThldLo ::= { cIpLocalPoolStatsEntry 6 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatInUseAddrThldHi ::= { cIpLocalPoolStatsEntry 5 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatInUseAddrThldLo ::= { cIpLocalPoolStatsEntry 4 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatHiWaterUsedAddrs ::= { cIpLocalPoolStatsEntry 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatInUseAddrs ::= { cIpLocalPoolStatsEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatFreeAddrs ::= { cIpLocalPoolStatsEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBConform ::= { ciscoIpLocalPoolMIB 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBObjects ::= { ciscoIpLocalPoolMIB 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBNotifs ::= { ciscoIpLocalPoolMIB 0 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBCompliance2 ::= { ciscoIpLocalPoolMIBCompliances 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBCompliance1 ::= { ciscoIpLocalPoolMIBCompliances 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBCompliance ::= { ciscoIpLocalPoolMIBCompliances 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolConfigTable ::= { cIpLocalPoolConfig 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolNotificationsEnable ::= { cIpLocalPoolConfig 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cilpPercentAddrUsedHiNotif ::= { ciscoIpLocalPoolMIBNotifs 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cilpPercentAddrUsedLoNotif ::= { ciscoIpLocalPoolMIBNotifs 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolInUseAddrNoti ::= { ciscoIpLocalPoolMIBNotifs 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolConfigEntry ::= { cIpLocalPoolConfigTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolConfigGroup ::= { ciscoIpLocalPoolMIBGroups 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolGroupGroup ::= { ciscoIpLocalPoolMIBGroups 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolStatsGroup ::= { ciscoIpLocalPoolMIBGroups 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolNotifGroup ::= { ciscoIpLocalPoolMIBGroups 4 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolStatsGroupSup1 ::= { ciscoIpLocalPoolMIBGroups 5 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolNotifGroupSup1 ::= { ciscoIpLocalPoolMIBGroups 6 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolPriorityGroup ::= { ciscoIpLocalPoolMIBGroups 7 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocEntry ::= { cIpLocalPoolAllocTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupContainsEntry ::= { cIpLocalPoolGroupContainsTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolName ::= { cIpLocalPoolConfigEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAddrType ::= { cIpLocalPoolConfigEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAddressLo ::= { cIpLocalPoolConfigEntry 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAddressHi ::= { cIpLocalPoolConfigEntry 4 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolFreeAddrs ::= { cIpLocalPoolConfigEntry 5 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolInUseAddrs ::= { cIpLocalPoolConfigEntry 6 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupContainedIn ::= { cIpLocalPoolConfigEntry 7 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolRowStatus ::= { cIpLocalPoolConfigEntry 8 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolPriority ::= { cIpLocalPoolConfigEntry 9 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupContainsTable ::= { cIpLocalPoolGroup 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupTable ::= { cIpLocalPoolGroup 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatsTable ::= { cIpLocalPoolStats 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocTable ::= { cIpLocalPoolStats 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupEntry ::= { cIpLocalPoolGroupTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatsEntry ::= { cIpLocalPoolStatsTable 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocAddrType ::= { cIpLocalPoolAllocEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocAddr ::= { cIpLocalPoolAllocEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocIfIndex ::= { cIpLocalPoolAllocEntry 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolAllocUser ::= { cIpLocalPoolAllocEntry 4 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupName ::= { cIpLocalPoolGroupContainsEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolChildIndex ::= { cIpLocalPoolGroupContainsEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIB ::= { ciscoMgmt 326 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolConfig ::= { ciscoIpLocalPoolMIBObjects 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroup ::= { ciscoIpLocalPoolMIBObjects 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStats ::= { ciscoIpLocalPoolMIBObjects 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBCompliances ::= { ciscoIpLocalPoolMIBConform 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBGroups ::= { ciscoIpLocalPoolMIBConform 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupFreeAddrs ::= { cIpLocalPoolGroupEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolGroupInUseAddrs ::= { cIpLocalPoolGroupEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatFreeAddrs ::= { cIpLocalPoolStatsEntry 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatInUseAddrs ::= { cIpLocalPoolStatsEntry 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatHiWaterUsedAddrs ::= { cIpLocalPoolStatsEntry 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatInUseAddrThldLo ::= { cIpLocalPoolStatsEntry 4 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolStatInUseAddrThldHi ::= { cIpLocalPoolStatsEntry 5 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolPercentAddrThldLo ::= { cIpLocalPoolStatsEntry 6 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolPercentAddrThldHi ::= { cIpLocalPoolStatsEntry 7 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBNotifs ::= { ciscoIpLocalPoolMIB 0 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBObjects ::= { ciscoIpLocalPoolMIB 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBConform ::= { ciscoIpLocalPoolMIB 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBCompliance ::= { ciscoIpLocalPoolMIBCompliances 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBCompliance1 ::= { ciscoIpLocalPoolMIBCompliances 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolMIBCompliance2 ::= { ciscoIpLocalPoolMIBCompliances 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolNotificationsEnable ::= { cIpLocalPoolConfig 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolConfigTable ::= { cIpLocalPoolConfig 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: ciscoIpLocalPoolInUseAddrNoti ::= { ciscoIpLocalPoolMIBNotifs 1 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cilpPercentAddrUsedLoNotif ::= { ciscoIpLocalPoolMIBNotifs 2 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cilpPercentAddrUsedHiNotif ::= { ciscoIpLocalPoolMIBNotifs 3 }
Cannot adopt OID in CISCO-IP-LOCAL-POOL-MIB: cIpLocalPoolConfigEntry ::= { cIpLocalPoolConfigTable 1 }
AIRESPACE-WIRELESS-MIB::bsnDot11EssSsid: Unknown Object Identifier: exit status 2
```


### System info

Telegraf 1.26.3, Red Hat

### Docker

_No response_

### Steps to reproduce

1. Add SNMP input configuration for Cisco Wireless controller
2. Run tests
...


### Expected behavior

Telegraf returns sample SNMP data

### Actual behavior

Errors while testing SNMP input plugin

### Additional info

What is interesting is that on the very same server when I run this configuration in production, then it manages to fetch data and down the line I do see some output in Grafana, so I don't think this is an issue with SNMP device nor with configuration itself.
In error log you can see test output from server.
I tried adding "path" configuration, but that didn't change anything, test still fails.
When I check those MIBs then I don't see anything missing, CISCO-IP-LOCAL-POOL-MIB is present and AIRESPACE-WIRELESS-MIB too:
```
ls /usr/share/snmp/mibs/
AGENTX-MIB.txt                       IANA-ADDRESS-FAMILY-NUMBERS-MIB.txt  Q-BRIDGE-MIB.txt
AIRESPACE-REF-MIB.txt                IANAifType-MIB.txt                   RFC1155-SMI.txt
AIRESPACE-WIRELESS-MIB.txt           IANA-LANGUAGE-MIB.txt                RFC1213-MIB.txt
BLUECOAT-MIB.txt                     IANA-RTPROTO-MIB.txt                 RFC-1215.txt
BLUECOAT-SG-PROXY-MIB.txt            IB-DHCPONE-MIB.txt                   RMON2-MIB.txt
BRIDGE-MIB.txt                       IB-DHCPSERV-MIB.txt                  RMON-MIB.txt
CHECKPOINT-MIB.txt                   IB-DHCPV6ONE-MIB.txt                 SCTP-MIB.txt
CISCO-CLASS-BASED-QOS-MIB.txt        IB-DNSONE-MIB.txt                    SDX-MIB-smiv2-MIB.txt
CISCO-ENHANCED-MEMPOOL-MIB.txt       IB-DNSSERV-MIB.txt                   SMUX-MIB.txt
CISCO-FIREWALL-MIB.txt               IB-PLATFORMONE-MIB.txt               SNMP-COMMUNITY-MIB.txt
CISCO-IP-LOCAL-POOL-MIB.txt          IB-SMI-MIB.txt                       SNMP-FRAMEWORK-MIB.txt
CISCO-IPSEC-FLOW-MONITOR-MIB.txt     IB-TRAP-MIB.txt                      SNMP-MPD-MIB.txt
CISCO-LWAPP-AP-MIB.txt               IF-INVERTED-STACK-MIB.txt            SNMP-NOTIFICATION-MIB.txt
CISCO-LWAPP-DOT11-CLIENT-MIB.txt     IF-MIB.txt                           SNMP-PROXY-MIB.txt
CISCO-LWAPP-DOT11-MIB.txt            INET-ADDRESS-MIB.txt                 SNMP-TARGET-MIB.txt
CISCO-LWAPP-MOBILITY-EXT-MIB.txt     IP-FORWARD-MIB.txt                   SNMP-TLS-TM-MIB.txt
CISCO-LWAPP-RF-MIB.txt               IP-MIB.txt                           SNMP-TSM-MIB.txt
CISCO-LWAPP-SYS-MIB.txt              IPV6-FLOW-LABEL-MIB.txt              SNMP-USER-BASED-SM-MIB.txt
CISCO-LWAPP-TC-MIB.txt               IPV6-ICMP-MIB.txt                    SNMP-USM-AES-MIB.txt
CISCO-LWAPP-WLAN-MIB.txt             IPV6-MIB.txt                         SNMP-USM-DH-OBJECTS-MIB.txt
CISCO-PROCESS-MIB.txt                IPV6-TCP-MIB.txt                     SNMP-USM-HMAC-SHA2-MIB.txt
CISCO-REMOTE-ACCESS-MONITOR-MIB.txt  IPV6-TC.txt                          SNMPv2-CONF.txt
CISCO-SMI.txt                        IPV6-UDP-MIB.txt                     SNMPv2-MIB.txt
CISCO-SSLVPN-MIB.txt                 LM-SENSORS-MIB.txt                   SNMPv2-SMI.txt
CISCO-TC.txt                         MTA-MIB.txt                          SNMPv2-TC.txt
DISMAN-EVENT-MIB.txt                 NET-SNMP-AGENT-MIB.txt               SNMPv2-TM.txt
DISMAN-EXPRESSION-MIB.txt            NET-SNMP-EXAMPLES-MIB.txt            SNMP-VIEW-BASED-ACM-MIB.txt
DISMAN-SCHEDULE-MIB.txt              NET-SNMP-EXTEND-MIB.txt              TCP-MIB.txt
DISMAN-SCRIPT-MIB.txt                NET-SNMP-MIB.txt                     TOKEN-RING-RMON-MIB.txt
ENTITY-MIB.txt                       NET-SNMP-PASS-MIB.txt                TRANSPORT-ADDRESS-MIB.txt
ENTITY-SENSOR-MIB.txt                NET-SNMP-TC.txt                      TUNNEL-MIB.txt
EtherLike-MIB.txt                    NET-SNMP-VACM-MIB.txt                UCD-DEMO-MIB.txt
FORTINET-CORE-MIB.txt                NETWORK-SERVICES-MIB.txt             UCD-DISKIO-MIB.txt
FORTINET-FORTIPROXY-MIB.txt          NOTIFICATION-LOG-MIB.txt             UCD-DLMOD-MIB.txt
HCNUM-TC.txt                         NS-INTERFACE-MIB.txt                 UCD-IPFWACC-MIB.txt
HOST-RESOURCES-MIB.txt               NS-SMI-MIB.txt                       UCD-SNMP-MIB.txt
HOST-RESOURCES-TYPES.txt             P-BRIDGE-MIB.txt                     UDP-MIB.txt
```

@Hipska any thoughts on the above issue and error message?

It seems like there is an issue parsing the `CISCO-IP-LOCAL-POOL-MIB` because it cannot find the `ciscoMgmt` OID from `CISCO-SMI`. So one of those 2 mibs might have an issue.

Which translator are you using? (**snmp_translator** setting in the [agent section](https://github.com/influxdata/telegraf/tree/master/config#agent)) So we can know how to troubleshoot further. Or you could try the other option..



@Hipska Thanks for the tip about snmp_translator
So far I used default one - netsnmp.
Once I switched to gosmi it all started to work fine. I guess netsnmp is deprecated for a reason.
For me the issue is solved, thanks for your support.