Influxdb_v2 outputs error 411 length required

Hello guys, I'm trying to make an influx + telegraf on docker.
However every time I achieve to launch them, there is an error I don't understand :

```
2022-12-16T11:02:48Z I! Using config file: /etc/telegraf/telegraf.conf
2022-12-16T11:02:48Z I! Starting Telegraf 1.25.0
2022-12-16T11:02:48Z I! Available plugins: 228 inputs, 9 aggregators, 26 processors, 21 parsers, 57 outputs, 2 secret-stores
2022-12-16T11:02:48Z I! Loaded inputs: cpu syslog
2022-12-16T11:02:48Z I! Loaded aggregators: 
2022-12-16T11:02:48Z I! Loaded processors: 
2022-12-16T11:02:48Z I! Loaded secretstores: 
2022-12-16T11:02:48Z I! Loaded outputs: influxdb_v2
2022-12-16T11:02:48Z I! Tags enabled: host=54693aed0514
2022-12-16T11:02:48Z I! [agent] Config: Interval:10s, Quiet:false, Hostname:"54693aed0514", Flush Interval:10s
2022-12-16T11:03:08Z E! [outputs.influxdb_v2] Failed to write metric to adminbucket (will be dropped: 411 Length Required): 411 Length Required
```

I tried on several machines and it doesn't work only on this one :
`Linux dockertests 5.10.0-19-amd64 #1 SMP Debian 5.10.149-2 (2022-10-21) x86_64 GNU/Linux`
This is a VM on VMware VSphere 5.5
The others were Windows 11 with Docker Desktop and Windows 11 + WSL 2 Debian and Docker Desktop integration

I have this docker compose files :
```version: '1.0'
services:
  telegraf:
    image: telegraf
    container_name: telegraf
    restart: always
    env_file:
      - .env
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - influxdb
    links:
      - influxdb
    ports:
      - "8092:8092/udp"
      - "8125:8125/udp"
      - "8094:8094/tcp"

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    restart: always
    env_file:
      - .env
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - ./data:/var/lib/influxdb2
      - ./config:/etc/influxdb2
    ports:
      - 8086:8086
```
And the environment variables :
```
DOCKER_INFLUXDB_INIT_MODE=setup

## Environment variables used during the setup and operation of the stack
#

# Primary InfluxDB admin/superuser credentials
#
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=adminpassword
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=wHjzottzSHy33eh6P/kQAXHUqHoCKQMFBE26vHEgP2zEQduarWD770wNBlDmDRrPWjE/HYXnjn1XYDs/S8DWOA==

# Primary InfluxDB organization & bucket definitions
# 
DOCKER_INFLUXDB_INIT_ORG=test
DOCKER_INFLUXDB_INIT_BUCKET=adminbucket

# Primary InfluxDB bucket retention period
#
# NOTE: Valid units are nanoseconds (ns), microseconds(us), milliseconds (ms)
# seconds (s), minutes (m), hours (h), days (d), and weeks (w).
DOCKER_INFLUXDB_INIT_RETENTION=4d 


# InfluxDB port & hostname definitions
#
DOCKER_INFLUXDB_INIT_PORT=8086 
DOCKER_INFLUXDB_INIT_HOST=influxdb 

# Telegraf configuration file
# 
# Will be mounted to container and used as telegraf configuration
TELEGRAF_CFG_PATH=./telegraf/telegraf.conf`

The entrypoint :
`#!/bin/bash

# Protects script from continuing with an error
set -eu -o pipefail

# Ensures environment variables are set
export DOCKER_INFLUXDB_INIT_MODE=$DOCKER_INFLUXDB_INIT_MODE
export DOCKER_INFLUXDB_INIT_USERNAME=$DOCKER_INFLUXDB_INIT_USERNAME
export DOCKER_INFLUXDB_INIT_PASSWORD=$DOCKER_INFLUXDB_INIT_PASSWORD
export DOCKER_INFLUXDB_INIT_ORG=$DOCKER_INFLUXDB_INIT_ORG
export DOCKER_INFLUXDB_INIT_BUCKET=$DOCKER_INFLUXDB_INIT_BUCKET
export DOCKER_INFLUXDB_INIT_RETENTION=$DOCKER_INFLUXDB_INIT_RETENTION
export DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=$DOCKER_INFLUXDB_INIT_ADMIN_TOKEN
export DOCKER_INFLUXDB_INIT_PORT=$DOCKER_INFLUXDB_INIT_PORT
export DOCKER_INFLUXDB_INIT_HOST=$DOCKER_INFLUXDB_INIT_HOST

# Conducts initial InfluxDB using the CLI
influx setup --skip-verify --bucket ${DOCKER_INFLUXDB_INIT_BUCKET} --retention ${DOCKER_INFLUXDB_INIT_RETENTION} --token ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN} --org ${DOCKER_INFLUXDB_INIT_ORG} --username ${DOCKER_INFLUXDB_INIT_USERNAME} --password ${DOCKER_INFLUXDB_INIT_PASSWORD} --host http://${DOCKER_INFLUXDB_INIT_HOST}:8086 --force
```

and finally the telegraf conf :
```
# Configuration for sending metrics to InfluxDB 2.0
[[outputs.influxdb_v2]]
  ## The URLs of the InfluxDB cluster nodes.
  ##
  ## Multiple URLs can be specified for a single cluster, only ONE of the
  ## urls will be written to each interval.
  ##   ex: urls = ["https://us-west-2-1.aws.cloud2.influxdata.com"]
  urls = ["http://${DOCKER_INFLUXDB_INIT_HOST}:${DOCKER_INFLUXDB_INIT_PORT}"]

  ## Token for authentication.
  token = "$DOCKER_INFLUXDB_INIT_ADMIN_TOKEN"

  ## Organization is the name of the organization you wish to write to.
  organization = "$DOCKER_INFLUXDB_INIT_ORG"

  ## Destination bucket to write into.
  bucket = "$DOCKER_INFLUXDB_INIT_BUCKET"

  ## The value of this tag will be used to determine the bucket.  If this
  ## tag is not set the 'bucket' option is used as the default.
  # bucket_tag = ""

  ## If true, the bucket tag will not be added to the metric.
  # exclude_bucket_tag = false

  ## Timeout for HTTP messages.
  # timeout = "5s"

  ## Additional HTTP headers
  # http_headers = {"X-Special-Header" = "Special-Value"}

  ## HTTP Proxy override, if unset values the standard proxy environment
  ## variables are consulted to determine which proxy, if any, should be used.
  # http_proxy = "http://corporate.proxy:3128"

  ## HTTP User-Agent
  # user_agent = "telegraf"

  ## Content-Encoding for write request body, can be set to "gzip" to
  ## compress body or "identity" to apply no encoding.
  # content_encoding = "gzip"

  ## Enable or disable uint support for writing uints influxdb 2.0.
  # influx_uint_support = false

  ## Optional TLS Config for use on HTTP connections.
  # tls_ca = "/etc/telegraf/ca.pem"
  # tls_cert = "/etc/telegraf/cert.pem"
  # tls_key = "/etc/telegraf/key.pem"
  ## Use TLS but skip chain & host verification
  # insecure_skip_verify = false


[[inputs.syslog]]
  ## Protocol, address and port to host the syslog receiver.
  ## If no host is specified, then localhost is used.
  ## If no port is specified, 6514 is used (RFC5425#section-4.1).
  ##   ex: server = "tcp://localhost:6514"
  ##       server = "udp://:6514"
  ##       server = "unix:///var/run/telegraf-syslog.sock"
  ## When using tcp, consider using 'tcp4' or 'tcp6' to force the usage of IPv4
  ## or IPV6 respectively. There are cases, where when not specified, a system
  ## may force an IPv4 mapped IPv6 address.
  server = "tcp://:8094"

  ## TLS Config
  # tls_allowed_cacerts = ["/etc/telegraf/ca.pem"]
  # tls_cert = "/etc/telegraf/cert.pem"
  # tls_key = "/etc/telegraf/key.pem"

  ## Period between keep alive probes.
  ## 0 disables keep alive probes.
  ## Defaults to the OS configuration.
  ## Only applies to stream sockets (e.g. TCP).
  # keep_alive_period = "5m"

  ## Maximum number of concurrent connections (default = 0).
  ## 0 means unlimited.
  ## Only applies to stream sockets (e.g. TCP).
  # max_connections = 1024

  ## Read timeout is the maximum time allowed for reading a single message (default = 5s).
  ## 0 means unlimited.
  # read_timeout = "5s"

  ## The framing technique with which it is expected that messages are transported (default = "octet-counting").
  ## Whether the messages come using the octect-counting (RFC5425#section-4.3.1, RFC6587#section-3.4.1),
  ## or the non-transparent framing technique (RFC6587#section-3.4.2).
  ## Must be one of "octect-counting", "non-transparent".
  # framing = "octet-counting"

  ## The trailer to be expected in case of non-transparent framing (default = "LF").
  ## Must be one of "LF", or "NUL".
  # trailer = "LF"

  ## Whether to parse in best effort mode or not (default = false).
  ## By default best effort parsing is off.
  # best_effort = false

  ## The RFC standard to use for message parsing
  ## By default RFC5424 is used. RFC3164 only supports UDP transport (no streaming support)
  ## Must be one of "RFC5424", or "RFC3164".
  # syslog_standard = "RFC5424"

  ## Character to prepend to SD-PARAMs (default = "_").
  ## A syslog message can contain multiple parameters and multiple identifiers within structured data section.
  ## Eg., [id1 name1="val1" name2="val2"][id2 name1="val1" nameA="valA"]
  ## For each combination a field is created.
  ## Its name is created concatenating identifier, sdparam_separator, and parameter name.
  # sdparam_separator = "_"

# Read metrics about cpu usage
[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## If true, collect raw CPU time metrics
  collect_cpu_time = false
  ## If true, compute and report the sum of all non-idle CPU states
  report_active = false
  ## If true and the info is available then add core_id and physical_id tags
  core_tags = false
```

Can you please enable debug mode and enable the [[ouputs.file]] plugin and provide the logs from a failing system?

Hello,
Here are everything I was able to get.

I enabled the debug mode after mounting the `config.yml` file (same way that was showed in the influxdb docker page).
I added the `[[outputs.file]]` configuration to telgraf. But it didn't log the error I'm encountering. Only the outputs of the CPU, the only way I saw error was in the telegraf logs when I attache the container :

outputs.metrics :
```
cpu,cpu=cpu0,host=a4ca572eb1cf usage_steal=0,usage_guest_nice=0,usage_user=0.10020040080177028,usage_system=0.10020040080184148,usage_nice=0,usage_softirq=0,usage_idle=99.7995991985014,usage_iowait=0,usage_irq=0,usage_guest=0 1671424020000000000
cpu,cpu=cpu1,host=a4ca572eb1cf usage_user=0.30030030029964566,usage_system=0.30030030029971677,usage_nice=0,usage_iowait=0,usage_softirq=0,usage_guest=0,usage_idle=99.3993993994239,usage_irq=0,usage_steal=0,usage_guest_nice=0 1671424020000000000
cpu,cpu=cpu2,host=a4ca572eb1cf usage_user=0.40201005025202463,usage_system=0,usage_irq=0,usage_softirq=0,usage_guest_nice=0,usage_idle=99.59798994966614,usage_nice=0,usage_iowait=0,usage_steal=0,usage_guest=0 1671424020000000000
cpu,cpu=cpu3,host=a4ca572eb1cf usage_iowait=0,usage_softirq=0,usage_steal=0,usage_guest_nice=0,usage_user=0.301204819275606,usage_system=0.301204819275606,usage_idle=99.39759036117998,usage_nice=0,usage_irq=0,usage_guest=0 1671424020000000000
cpu,cpu=cpu4,host=a4ca572eb1cf usage_nice=0,usage_irq=0,usage_softirq=0,usage_guest_nice=0,usage_user=0.10030090270779991,usage_system=0.10030090270779991,usage_steal=0,usage_guest=0,usage_idle=99.79939819439754,usage_iowait=0 1671424020000000000
cpu,cpu=cpu5,host=a4ca572eb1cf usage_user=0.2997002997009036,usage_iowait=0,usage_guest=0,usage_guest_nice=0,usage_system=0.2997002997009036,usage_idle=99.40059940062147,usage_nice=0,usage_irq=0,usage_softirq=0,usage_steal=0 1671424020000000000
cpu,cpu=cpu6,host=a4ca572eb1cf usage_user=0.20000000000003126,usage_system=0.10000000000005116,usage_idle=99.70000000001164,usage_nice=0,usage_softirq=0,usage_steal=0,usage_guest_nice=0,usage_iowait=0,usage_irq=0,usage_guest=0 1671424020000000000
cpu,cpu=cpu7,host=a4ca572eb1cf usage_user=0.5005005005010098,usage_nice=0,usage_steal=0,usage_guest=0,usage_guest_nice=0,usage_system=0.200200200200347,usage_idle=99.29929929922872,usage_iowait=0,usage_irq=0,usage_softirq=0 1671424020000000000
cpu,cpu=cpu-total,host=a4ca572eb1cf usage_steal=0,usage_system=0.1752628943417404,usage_nice=0,usage_iowait=0.0250375563345318,usage_irq=0,usage_softirq=0,usage_user=0.2754131196798676,usage_idle=99.52428642978371,usage_guest=0,usage_guest_nice=0 1671424020000000000
cpu,cpu=cpu0,host=a4ca572eb1cf usage_guest_nice=0,usage_user=0.30000000000001137,usage_system=0.5999999999999517,usage_nice=0,usage_iowait=0,usage_irq=0,usage_guest=0,usage_idle=99.10000000003492,usage_softirq=0,usage_steal=0 1671424030000000000
cpu,cpu=cpu1,host=a4ca572eb1cf usage_guest_nice=0,usage_user=0.5010020040075328,usage_irq=0,usage_guest=0,usage_iowait=0,usage_softirq=0,usage_steal=0,usage_system=0.30060120240450544,usage_idle=99.1983967934247,usage_nice=0 1671424030000000000
cpu,cpu=cpu2,host=a4ca572eb1cf usage_idle=99.2978936809752,usage_guest=0,usage_guest_nice=0,usage_steal=0,usage_user=0.5015045135390709,usage_system=0.20060180541559983,usage_nice=0,usage_iowait=0,usage_irq=0,usage_softirq=0 1671424030000000000
cpu,cpu=cpu3,host=a4ca572eb1cf usage_softirq=0.10010010010048513,usage_guest_nice=0,usage_system=0.3003003003014665,usage_iowait=0,usage_nice=0,usage_irq=0,usage_steal=0,usage_guest=0,usage_user=0.600600600602933,usage_idle=98.9989989992282 1671424030000000000
cpu,cpu=cpu4,host=a4ca572eb1cf usage_iowait=0,usage_softirq=0,usage_steal=0,usage_guest_nice=0,usage_nice=0,usage_system=0.49950049950152964,usage_idle=98.90109890123628,usage_irq=0,usage_guest=0,usage_user=0.5994005994018072 1671424030000000000
cpu,cpu=cpu5,host=a4ca572eb1cf usage_irq=0,usage_softirq=0,usage_steal=0,usage_guest=0,usage_guest_nice=0,usage_user=0.30060120240450544,usage_system=0.3006012024044342,usage_iowait=0,usage_idle=99.39879759521435,usage_nice=0 1671424030000000000
cpu,cpu=cpu6,host=a4ca572eb1cf usage_steal=0,usage_guest=0,usage_user=0,usage_idle=99.7995991985014,usage_iowait=0,usage_irq=0,usage_softirq=0,usage_guest_nice=0,usage_system=0.20040080160354057,usage_nice=0 1671424030000000000
cpu,cpu=cpu7,host=a4ca572eb1cf usage_iowait=0,usage_guest=0,usage_guest_nice=0,usage_user=0.5010020040074615,usage_nice=0,usage_irq=0,usage_softirq=0,usage_steal=0,usage_system=0.4008016032060547,usage_idle=99.0981963928215 1671424030000000000
cpu,cpu=cpu-total,host=a4ca572eb1cf usage_user=0.4255319148941529,usage_system=0.35043804755982366,usage_nice=0,usage_irq=0,usage_softirq=0.012515644555711162,usage_idle=99.21151439313019,usage_iowait=0,usage_steal=0,usage_guest=0,usage_guest_nice=0 1671424030000000000
cpu,cpu=cpu0,host=a4ca572eb1cf usage_system=0.20000000000003126,usage_idle=99.49999999982538,usage_nice=0,usage_softirq=0,usage_user=0.30000000000001137,usage_iowait=0,usage_irq=0,usage_steal=0,usage_guest=0,usage_guest_nice=0 1671424040000000000
cpu,cpu=cpu1,host=a4ca572eb1cf usage_system=0.10020040080177028,usage_nice=0,usage_iowait=0,usage_irq=0,usage_softirq=0.10020040080179031,usage_steal=0,usage_user=0.10020040080177028,usage_idle=99.69939879760629,usage_guest=0,usage_guest_nice=0 1671424040000000000
cpu,cpu=cpu2,host=a4ca572eb1cf usage_iowait=0,usage_irq=0,usage_softirq=0,usage_steal=0,usage_guest_nice=0,usage_user=0.10010010010024463,usage_nice=0,usage_guest=0,usage_system=0.200200200200347,usage_idle=99.69969969971108 1671424040000000000
cpu,cpu=cpu3,host=a4ca572eb1cf usage_iowait=0,usage_softirq=0,usage_steal=0,usage_system=0.10010010009981075,usage_idle=99.89989989980687,usage_nice=0,usage_irq=0,usage_guest=0,usage_guest_nice=0,usage_user=0 1671424040000000000
cpu,cpu=cpu4,host=a4ca572eb1cf usage_softirq=0,usage_user=0.2006018054162567,usage_system=0.1003009027080927,usage_idle=99.69909729188734,usage_iowait=0,usage_irq=0,usage_nice=0,usage_steal=0,usage_guest=0,usage_guest_nice=0 1671424040000000000
cpu,cpu=cpu5,host=a4ca572eb1cf usage_user=0.1001001001001735,usage_system=0.20020020020041812,usage_steal=0,usage_guest=0,usage_guest_nice=0,usage_idle=99.69969969971108,usage_nice=0,usage_iowait=0,usage_irq=0,usage_softirq=0 1671424040000000000
cpu,cpu=cpu6,host=a4ca572eb1cf usage_idle=99.89999999990687,usage_nice=0,usage_softirq=0,usage_guest=0,usage_system=0,usage_iowait=0,usage_irq=0,usage_steal=0,usage_guest_nice=0,usage_user=0.0999999999999801 1671424040000000000
cpu,cpu=cpu7,host=a4ca572eb1cf usage_guest_nice=0,usage_nice=0,usage_iowait=0,usage_irq=0,usage_softirq=0,usage_steal=0,usage_user=0,usage_system=0,usage_idle=100,usage_guest=0 1671424040000000000
cpu,cpu=cpu-total,host=a4ca572eb1cf usage_system=0.1251564455567558,usage_nice=0,usage_iowait=0,usage_user=0.11264080100102332,usage_irq=0,usage_softirq=0.012515644555674691,usage_steal=0,usage_guest=0,usage_guest_nice=0,usage_idle=99.74968710865342 1671424040000000000
```

telegraf logs from container attached :
```
cpu,cpu=cpu-total,host=a4ca572eb1cf usage_guest_nice=0,usage_idle=99.21131697531283,usage_iowait=0.012518778167238306,usage_steal=0,usage_guest=0,usage_softirq=0.037556334501692684,usage_user=0.4006009013514123,usage_system=0.33800701051523857,usage_nice=0,usage_irq=0 1671424430000000000
2022-12-19T04:33:57Z E! [outputs.influxdb_v2] Failed to write metric to tristanbucket (will be dropped: 411 Length Required): 411 Length Required
```

influxdb logs from container attached :
```
ts=2022-12-19T04:26:46.252836Z lvl=info msg="Welcome to InfluxDB" log_id=0er9zxR0000 version=v2.6.0 commit=24a2b621ea build_date=2022-12-15T18:47:00Z log_level=debug
ts=2022-12-19T04:26:46.252914Z lvl=debug msg="loaded config file" log_id=0er9zxR0000 path=/tmp/config.yml
ts=2022-12-19T04:26:46.252921Z lvl=warn msg="nats-port argument is deprecated and unused" log_id=0er9zxR0000
ts=2022-12-19T04:26:46.353107Z lvl=info msg="Resources opened" log_id=0er9zxR0000 service=bolt path=/var/lib/influxdb2/influxd.bolt
ts=2022-12-19T04:26:46.353275Z lvl=info msg="Resources opened" log_id=0er9zxR0000 service=sqlite path=/var/lib/influxdb2/influxd.sqlite
ts=2022-12-19T04:26:46.377654Z lvl=info msg="Bringing up metadata migrations" log_id=0er9zxR0000 service="KV migrations" migration_count=20
ts=2022-12-19T04:26:46.377678Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="initial migration" target_state=up migration_event=started
ts=2022-12-19T04:26:47.433708Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="initial migration" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.433750Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add index \"userresourcemappingsbyuserindexv1\"" target_state=up migration_event=started
ts=2022-12-19T04:26:47.434962Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add index \"userresourcemappingsbyuserindexv1\"" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.434994Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="migrate task owner id" target_state=up migration_event=started
ts=2022-12-19T04:26:47.435821Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="migrate task owner id" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.435846Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="create DBRP buckets" target_state=up migration_event=started
ts=2022-12-19T04:26:47.437855Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="create DBRP buckets" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.437874Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="create pkger stacks buckets" target_state=up migration_event=started
ts=2022-12-19T04:26:47.441044Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="create pkger stacks buckets" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.441070Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="delete sessionsv1 bucket" target_state=up migration_event=started
ts=2022-12-19T04:26:47.442907Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="delete sessionsv1 bucket" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.442925Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="Create TSM metadata buckets" target_state=up migration_event=started
ts=2022-12-19T04:26:47.444013Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="Create TSM metadata buckets" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.444031Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="Create Legacy authorization buckets" target_state=up migration_event=started
ts=2022-12-19T04:26:47.445432Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="Create Legacy authorization buckets" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.445451Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="Create legacy auth password bucket" target_state=up migration_event=started
ts=2022-12-19T04:26:47.446687Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="Create legacy auth password bucket" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.446708Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add index \"telegrafbyorgindexv1\"" target_state=up migration_event=started
ts=2022-12-19T04:26:47.447807Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add index \"telegrafbyorgindexv1\"" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.447825Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="populate dashboards owner id" target_state=up migration_event=started
ts=2022-12-19T04:26:47.448579Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="populate dashboards owner id" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.448600Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add index \"dbrpbyorgv1\"" target_state=up migration_event=started
ts=2022-12-19T04:26:47.449686Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add index \"dbrpbyorgv1\"" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.449705Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="repair DBRP owner and bucket IDs" target_state=up migration_event=started
ts=2022-12-19T04:26:47.450462Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="repair DBRP owner and bucket IDs" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.450492Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add index \"dbrpbyorgv1\"" target_state=up migration_event=started
ts=2022-12-19T04:26:47.451449Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add index \"dbrpbyorgv1\"" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.451467Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="record shard group durations in bucket metadata" target_state=up migration_event=started
ts=2022-12-19T04:26:47.452198Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="record shard group durations in bucket metadata" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.452216Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add annotations and notebooks resource types to operator token" target_state=up migration_event=started
ts=2022-12-19T04:26:47.453290Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add annotations and notebooks resource types to operator token" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.453306Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add annotations and notebooks resource types to all-access tokens" target_state=up migration_event=started
ts=2022-12-19T04:26:47.454391Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add annotations and notebooks resource types to all-access tokens" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.454409Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="repair missing shard group durations" target_state=up migration_event=started
ts=2022-12-19T04:26:47.455133Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="repair missing shard group durations" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.455151Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add remotes and replications resource types to operator and all-access tokens" target_state=up migration_event=started
ts=2022-12-19T04:26:47.456138Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="add remotes and replications resource types to operator and all-access tokens" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.456156Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="create remotes and replications metrics buckets" target_state=up migration_event=started
ts=2022-12-19T04:26:47.459197Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="KV migrations" migration_name="create remotes and replications metrics buckets" target_state=up migration_event=completed
ts=2022-12-19T04:26:47.459840Z lvl=info msg="Bringing up metadata migrations" log_id=0er9zxR0000 service="SQL migrations" migration_count=8
ts=2022-12-19T04:26:47.459860Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="SQL migrations" migration_name=0001_create_migrations_table.up.sql
ts=2022-12-19T04:26:47.461538Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="SQL migrations" migration_name=0002_create_notebooks_table.up.sql
ts=2022-12-19T04:26:47.463792Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="SQL migrations" migration_name=0003_create_annotations_tables.up.sql
ts=2022-12-19T04:26:47.466091Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="SQL migrations" migration_name=0004_create_remotes_table.up.sql
ts=2022-12-19T04:26:47.468066Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="SQL migrations" migration_name=0005_create_replications_table.up.sql
ts=2022-12-19T04:26:47.470319Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="SQL migrations" migration_name=0006_migrate_replications_foreign_key.up.sql
ts=2022-12-19T04:26:47.475875Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="SQL migrations" migration_name=0007_migrate_replications_add_bucket_name.up.sql
ts=2022-12-19T04:26:47.482075Z lvl=debug msg="Executing metadata migration" log_id=0er9zxR0000 service="SQL migrations" migration_name=0008_migrate_remotes_null_remote_org.up.sql
ts=2022-12-19T04:26:47.490938Z lvl=debug msg="buckets find" log_id=0er9zxR0000 store=new took=0.032ms
ts=2022-12-19T04:26:47.491060Z lvl=info msg="Using data dir" log_id=0er9zxR0000 service=storage-engine service=store path=/var/lib/influxdb2/engine/data
ts=2022-12-19T04:26:47.491156Z lvl=info msg="Compaction settings" log_id=0er9zxR0000 service=storage-engine service=store max_concurrent_compactions=4 throughput_bytes_per_second=50331648 throughput_bytes_per_second_burst=50331648
ts=2022-12-19T04:26:47.491175Z lvl=info msg="Open store (start)" log_id=0er9zxR0000 service=storage-engine service=store op_name=tsdb_open op_event=start
ts=2022-12-19T04:26:47.491229Z lvl=info msg="Open store (end)" log_id=0er9zxR0000 service=storage-engine service=store op_name=tsdb_open op_event=end op_elapsed=0.055ms
ts=2022-12-19T04:26:47.491265Z lvl=info msg="Starting retention policy enforcement service" log_id=0er9zxR0000 service=retention check_interval=30m
ts=2022-12-19T04:26:47.491282Z lvl=info msg="Starting precreation service" log_id=0er9zxR0000 service=shard-precreation check_interval=10m advance_period=30m
ts=2022-12-19T04:26:47.492143Z lvl=info msg="Starting query controller" log_id=0er9zxR0000 service=storage-reads concurrency_quota=1024 initial_memory_bytes_quota_per_query=9223372036854775807 memory_bytes_quota_per_query=9223372036854775807 max_memory_bytes=0 queue_size=1024
ts=2022-12-19T04:26:47.495023Z lvl=info msg="Configuring InfluxQL statement executor (zeros indicate unlimited)." log_id=0er9zxR0000 max_select_point=0 max_select_series=0 max_select_buckets=0
ts=2022-12-19T04:26:47.500639Z lvl=info msg=Starting log_id=0er9zxR0000 service=telemetry interval=8h
ts=2022-12-19T04:26:47.500845Z lvl=info msg=Listening log_id=0er9zxR0000 service=tcp-listener transport=http addr=:9999 port=9999
ts=2022-12-19T04:26:48.136966Z lvl=debug msg=Request log_id=0er9zxR0000 service=http method=GET host=localhost:9999 path=/health query= proto=HTTP/1.1 status_code=200 response_size=137 content_length=0 referrer= remote=127.0.0.1:58742 user_agent=influx took=0.147ms body=
ts=2022-12-19T04:26:48.146643Z lvl=debug msg="is onboarding" log_id=0er9zxR0000 handler=onboard took=0.083ms
ts=2022-12-19T04:26:48.146781Z lvl=debug msg="Onboarding eligibility check finished" log_id=0er9zxR0000 result=true
ts=2022-12-19T04:26:48.147008Z lvl=debug msg=Request log_id=0er9zxR0000 service=http method=GET host=localhost:9999 path=/api/v2/setup query= proto=HTTP/1.1 status_code=200 response_size=20 content_length=0 referrer= remote=127.0.0.1:58748 user_agent=influx took=0.556ms body=
ts=2022-12-19T04:26:48.148793Z lvl=debug msg="user create" log_id=0er9zxR0000 store=new took=0.696ms
ts=2022-12-19T04:26:48.227078Z lvl=debug msg="set password" log_id=0er9zxR0000 store=new took=78.255ms
ts=2022-12-19T04:26:48.227793Z lvl=debug msg="org find by ID" log_id=0er9zxR0000 store=new took=0.068ms
ts=2022-12-19T04:26:48.228352Z lvl=debug msg="bucket create" log_id=0er9zxR0000 store=new took=0.629ms
ts=2022-12-19T04:26:48.229079Z lvl=debug msg="org find by ID" log_id=0er9zxR0000 store=new took=0.044ms
ts=2022-12-19T04:26:48.229525Z lvl=debug msg="bucket create" log_id=0er9zxR0000 store=new took=0.490ms
ts=2022-12-19T04:26:48.230541Z lvl=debug msg="urm create" log_id=0er9zxR0000 store=new took=0.572ms
ts=2022-12-19T04:26:48.230590Z lvl=debug msg="org create" log_id=0er9zxR0000 store=new took=3.451ms
ts=2022-12-19T04:26:48.230980Z lvl=debug msg="urm create" log_id=0er9zxR0000 store=new took=0.378ms
ts=2022-12-19T04:26:48.231071Z lvl=debug msg="org find by ID" log_id=0er9zxR0000 store=new took=0.051ms
ts=2022-12-19T04:26:48.231557Z lvl=debug msg="bucket create" log_id=0er9zxR0000 store=new took=0.537ms
ts=2022-12-19T04:26:48.232083Z lvl=debug msg="user find by ID" log_id=0er9zxR0000 store=new took=0.025ms
ts=2022-12-19T04:26:48.232143Z lvl=debug msg="org find by ID" log_id=0er9zxR0000 store=new took=0.037ms
ts=2022-12-19T04:26:48.232884Z lvl=debug msg="onboard initial user" log_id=0er9zxR0000 handler=onboard took=84.800ms
ts=2022-12-19T04:26:48.232927Z lvl=debug msg="Onboarding setup completed" log_id=0er9zxR0000 results="&{0xc001f32200 0xc001b352c0 0xc001f770e0 0xc001f775f0}"
ts=2022-12-19T04:26:48.233570Z lvl=debug msg=Request log_id=0er9zxR0000 service=http method=POST host=localhost:9999 path=/api/v2/setup query= proto=HTTP/1.1 status_code=201 response_size=5613 content_length=-1 referrer= remote=127.0.0.1:58748 user_agent=Sha took=85.691ms
User	Organization	Bucket
admin	test		tristanbucket
ts=2022-12-19T04:26:48.243817Z lvl=debug msg="user find by ID" log_id=0er9zxR0000 store=new took=0.027ms
ts=2022-12-19T04:26:48.243923Z lvl=debug msg="users find" log_id=0er9zxR0000 store=new took=0.027ms
ts=2022-12-19T04:26:48.243954Z lvl=debug msg="Users retrieved" log_id=0er9zxR0000 handler=user users=[0xc0001d6680]
ts=2022-12-19T04:26:48.245016Z lvl=debug msg=Request log_id=0er9zxR0000 service=http method=GET host=localhost:9999 path=/api/v2/users query= proto=HTTP/1.1 status_code=200 response_size=204 content_length=0 referrer= remote=127.0.0.1:58758 user_agent=Sha took=0.618ms body=
ts=2022-12-19T04:26:48.254163Z lvl=debug msg="user find by ID" log_id=0er9zxR0000 store=new took=0.044ms
ts=2022-12-19T04:26:48.254387Z lvl=debug msg="orgs find" log_id=0er9zxR0000 store=new took=0.076ms
ts=2022-12-19T04:26:48.254495Z lvl=debug msg="Orgs retrieved" log_id=0er9zxR0000 handler=org org=[0xc0022f8b40]
ts=2022-12-19T04:26:48.254825Z lvl=debug msg=Request log_id=0er9zxR0000 service=http method=GET host=localhost:9999 path=/api/v2/orgs query="org=test" proto=HTTP/1.1 status_code=200 response_size=699 content_length=0 referrer= remote=127.0.0.1:58762 user_agent=Sha took=0.925ms body=
ts=2022-12-19T04:26:48.263263Z lvl=debug msg="user find by ID" log_id=0er9zxR0000 store=new took=0.023ms
ts=2022-12-19T04:26:48.263538Z lvl=debug msg="org find" log_id=0er9zxR0000 store=new took=0.051ms
ts=2022-12-19T04:26:48.263683Z lvl=debug msg="buckets find" log_id=0er9zxR0000 store=new took=0.197ms
ts=2022-12-19T04:26:48.263712Z lvl=debug msg="Buckets retrieved" log_id=0er9zxR0000 handler=bucket buckets=[0xc0023ad170]
ts=2022-12-19T04:26:48.263836Z lvl=debug msg="bucket find by ID" log_id=0er9zxR0000 store=new took=0.050ms
ts=2022-12-19T04:26:48.263875Z lvl=debug msg="labels for resource find" log_id=0er9zxR0000 handler=labels took=0.092ms
ts=2022-12-19T04:26:48.264248Z lvl=debug msg=Request log_id=0er9zxR0000 service=http method=GET host=localhost:9999 path=/api/v2/buckets query="name=tristanbucket&org=test" proto=HTTP/1.1 status_code=200 response_size=878 content_length=0 referrer= remote=127.0.0.1:58770 user_agent=influx took=1.235ms body=
ts=2022-12-19T04:26:48.673469Z lvl=info msg="Welcome to InfluxDB" log_id=0er9~5tG000 version=v2.6.0 commit=24a2b621ea build_date=2022-12-15T18:47:00Z log_level=debug
ts=2022-12-19T04:26:48.673558Z lvl=debug msg="loaded config file" log_id=0er9~5tG000 path=/etc/influxdb2/config.yml
ts=2022-12-19T04:26:48.673565Z lvl=warn msg="nats-port argument is deprecated and unused" log_id=0er9~5tG000
ts=2022-12-19T04:26:48.674657Z lvl=info msg="Resources opened" log_id=0er9~5tG000 service=bolt path=/var/lib/influxdb2/influxd.bolt
ts=2022-12-19T04:26:48.674738Z lvl=info msg="Resources opened" log_id=0er9~5tG000 service=sqlite path=/var/lib/influxdb2/influxd.sqlite
ts=2022-12-19T04:26:48.677983Z lvl=debug msg="buckets find" log_id=0er9~5tG000 store=new took=0.126ms
ts=2022-12-19T04:26:48.678012Z lvl=info msg="Checking InfluxDB metadata for prior version." log_id=0er9~5tG000 bolt_path=/var/lib/influxdb2/influxd.bolt
ts=2022-12-19T04:26:48.678151Z lvl=info msg="Using data dir" log_id=0er9~5tG000 service=storage-engine service=store path=/var/lib/influxdb2/engine/data
ts=2022-12-19T04:26:48.678184Z lvl=info msg="Compaction settings" log_id=0er9~5tG000 service=storage-engine service=store max_concurrent_compactions=4 throughput_bytes_per_second=50331648 throughput_bytes_per_second_burst=50331648
ts=2022-12-19T04:26:48.678206Z lvl=info msg="Open store (start)" log_id=0er9~5tG000 service=storage-engine service=store op_name=tsdb_open op_event=start
ts=2022-12-19T04:26:48.678314Z lvl=info msg="Open store (end)" log_id=0er9~5tG000 service=storage-engine service=store op_name=tsdb_open op_event=end op_elapsed=0.096ms
ts=2022-12-19T04:26:48.678355Z lvl=info msg="Starting retention policy enforcement service" log_id=0er9~5tG000 service=retention check_interval=30m
ts=2022-12-19T04:26:48.678369Z lvl=info msg="Starting precreation service" log_id=0er9~5tG000 service=shard-precreation check_interval=10m advance_period=30m
ts=2022-12-19T04:26:48.679410Z lvl=info msg="Starting query controller" log_id=0er9~5tG000 service=storage-reads concurrency_quota=1024 initial_memory_bytes_quota_per_query=9223372036854775807 memory_bytes_quota_per_query=9223372036854775807 max_memory_bytes=0 queue_size=1024
ts=2022-12-19T04:26:48.682480Z lvl=info msg="Configuring InfluxQL statement executor (zeros indicate unlimited)." log_id=0er9~5tG000 max_select_point=0 max_select_series=0 max_select_buckets=0
ts=2022-12-19T04:26:48.688703Z lvl=info msg=Starting log_id=0er9~5tG000 service=telemetry interval=8h
ts=2022-12-19T04:26:48.689003Z lvl=info msg=Listening log_id=0er9~5tG000 service=tcp-listener transport=http addr=:8086 port=8086
```

Hello,

Just wanted to know if someone had an update on this issue ?

I still work on it and don't understand what is wrong, I changed, distribution, configs files but nothing helps.

Can you reproduce this outside of docker? 

Hello,

I tried with influxdb on docker (same config as earlier) and telegraf on the machine with the package.
With this setup it works

telegraf.conf :
```
# Global tags can be specified here in key="value" format.
[global_tags]
  # dc = "us-east-1" # will tag all metrics with dc=us-east-1
  # rack = "1a"
  ## Environment variables can be used as tags, and throughout the config file
  # user = "$USER"

# Configuration for telegraf agent
[agent]
  ## Default data collection interval for all inputs
  interval = "10s"
  ## Rounds collection interval to 'interval'
  ## ie, if interval="10s" then always collect on :00, :10, :20, etc.
  round_interval = true

  ## Telegraf will send metrics to outputs in batches of at most
  ## metric_batch_size metrics.
  ## This controls the size of writes that Telegraf sends to output plugins.
  metric_batch_size = 1000

  ## Maximum number of unwritten metrics per output.  Increasing this value
  ## allows for longer periods of output downtime without dropping metrics at the
  ## cost of higher maximum memory usage.
  metric_buffer_limit = 10000

  ## Collection jitter is used to jitter the collection by a random amount.
  ## Each plugin will sleep for a random time within jitter before collecting.
  ## This can be used to avoid many plugins querying things like sysfs at the
  ## same time, which can have a measurable effect on the system.
  collection_jitter = "0s"

  ## Collection offset is used to shift the collection by the given amount.
  ## This can be be used to avoid many plugins querying constraint devices
  ## at the same time by manually scheduling them in time.
  # collection_offset = "0s"

  ## Default flushing interval for all outputs. Maximum flush_interval will be
  ## flush_interval + flush_jitter
  flush_interval = "10s"
  ## Jitter the flush interval by a random amount. This is primarily to avoid
  ## large write spikes for users running a large number of telegraf instances.
  ## ie, a jitter of 5s and interval 10s means flushes will happen every 10-15s
  flush_jitter = "0s"

  ## Collected metrics are rounded to the precision specified. Precision is
  ## specified as an interval with an integer + unit (e.g. 0s, 10ms, 2us, 4s).
  ## Valid time units are "ns", "us" (or "µs"), "ms", "s".
  ##
  ## By default or when set to "0s", precision will be set to the same
  ## timestamp order as the collection interval, with the maximum being 1s:
  ##   ie, when interval = "10s", precision will be "1s"
  ##       when interval = "250ms", precision will be "1ms"
  ##
  ## Precision will NOT be used for service inputs. It is up to each individual
  ## service input to set the timestamp at the appropriate precision.
  precision = "0s"

  ## Log at debug level.
  debug = true
  ## Log only error level messages.
  # quiet = false

  ## Log target controls the destination for logs and can be one of "file",
  ## "stderr" or, on Windows, "eventlog".  When set to "file", the output file
  ## is determined by the "logfile" setting.
  logtarget = "file"

  ## Name of the file to be logged to when using the "file" logtarget.  If set to
  ## the empty string then logs are written to stderr.
  logfile = "/tmp/telegraf.log"

  ## The logfile will be rotated after the time interval specified.  When set
  ## to 0 no time based rotation is performed.  Logs are rotated only when
  ## written to, if there is no log activity rotation may be delayed.
  # logfile_rotation_interval = "0h"

  ## The logfile will be rotated when it becomes larger than the specified
  ## size.  When set to 0 no size based rotation is performed.
  logfile_rotation_max_size = "10MB"

  ## Maximum number of rotated archives to keep, any older logs are deleted.
  ## If set to -1, no archives are removed.
  # logfile_rotation_max_archives = 5

  ## Pick a timezone to use when logging or type 'local' for local time.
  ## Example: America/Chicago
  # log_with_timezone = ""

  ## Override default hostname, if empty use os.Hostname()
  hostname = ""
  ## If set to true, do no set the "host" tag in the telegraf agent.
  omit_hostname = false

  ## Method of translating SNMP objects. Can be "netsnmp" (deprecated) which
  ## translates by calling external programs snmptranslate and snmptable,
  ## or "gosmi" which translates using the built-in gosmi library.
  # snmp_translator = "netsnmp"

# # Configuration for sending metrics to InfluxDB 2.0
[[outputs.influxdb_v2]]
#   ## The URLs of the InfluxDB cluster nodes.
#   ##
#   ## Multiple URLs can be specified for a single cluster, only ONE of the
#   ## urls will be written to each interval.
#   ##   ex: urls = ["https://us-west-2-1.aws.cloud2.influxdata.com"]
    urls = ["http://127.0.0.1:8087"]
#
#   ## Token for authentication.
    token = "my_token"
#
#   ## Organization is the name of the organization you wish to write to.
    organization = "tli"
#
#   ## Destination bucket to write into.
    bucket = "tlibucket"

[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## If true, collect raw CPU time metrics
  collect_cpu_time = false
  ## If true, compute and report the sum of all non-idle CPU states
  report_active = false
  ## If true and the info is available then add core_id and physical_id tags
  core_tags = false
```

logs telegraf :
```
2023-01-04T05:04:28Z I! Using config file: /etc/telegraf/telegraf.conf
2023-01-04T05:04:28Z E! Unable to open /tmp/telegraf.log (open /tmp/telegraf.log: permission denied), using stderr
2023-01-04T05:04:28Z I! Starting Telegraf 1.25.0
2023-01-04T05:04:28Z I! Available plugins: 228 inputs, 9 aggregators, 26 processors, 21 parsers, 57 outputs, 2 secret-stores
2023-01-04T05:04:28Z I! Loaded inputs: cpu diskio file kernel mem processes swap syslog system
2023-01-04T05:04:28Z I! Loaded aggregators: 
2023-01-04T05:04:28Z I! Loaded processors: 
2023-01-04T05:04:28Z I! Loaded secretstores: 
2023-01-04T05:04:28Z I! Loaded outputs: influxdb_v2
2023-01-04T05:04:28Z I! Tags enabled: host=dockertest
2023-01-04T05:04:28Z I! [agent] Config: Interval:10s, Quiet:false, Hostname:"dockertest", Flush Interval:10s
2023-01-04T05:04:28Z D! [agent] Initializing plugins
2023-01-04T05:04:28Z D! [agent] Connecting outputs
2023-01-04T05:04:28Z D! [agent] Attempting connection to [outputs.influxdb_v2]
2023-01-04T05:04:28Z D! [agent] Successfully connected to outputs.influxdb_v2
2023-01-04T05:04:28Z D! [agent] Starting service inputs
2023-01-04T05:04:38Z D! [outputs.influxdb_v2] Wrote batch of 13 metrics in 70.31349ms
2023-01-04T05:04:38Z D! [outputs.influxdb_v2] Buffer fullness: 0 / 10000 metrics
2023-01-04T05:04:48Z D! [outputs.influxdb_v2] Wrote batch of 18 metrics in 5.552015ms
2023-01-04T05:04:48Z D! [outputs.influxdb_v2] Buffer fullness: 0 / 10000 metrics
2023-01-04T05:04:58Z D! [outputs.influxdb_v2] Wrote batch of 18 metrics in 2.765803ms
2023-01-04T05:04:58Z D! [outputs.influxdb_v2] Buffer fullness: 0 / 10000 metrics
2023-01-04T05:05:08Z D! [outputs.influxdb_v2] Wrote batch of 18 metrics in 3.667906ms
```

> I tried with influxdb on docker (same config as earlier) and telegraf on the machine with the package.
> With this setup it works

Great. This tends to indicate it is not an issue with telegraf itself, but possibly with your docker or compose config. I would jump into the telegraf container and ensure that all your env variables are getting set correctly and ensure the telegraf user can see them. Additionally, I would verify that the required ports are working as you would expect and that you can reach the influxdb server.

Hello,
You're right, it's coming from my container.

I used tcpdump to see packets I was sending to my influxdb (172.26.0.2) and it doesn't send anything :
```
root@67b947d5fbbd:/# tcpdump -i any dst 172.26.0.2
tcpdump: data link type LINUX_SLL2
tcpdump: verbose output suppressed, use -v[v]... for full protocol decode
listening on any, link-type LINUX_SLL2 (Linux cooked v2), snapshot length 262144 bytes
```
Same thing on the influxdb container :
```
root@57d110c04253:/# tcpdump -i any port 8086
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on any, link-type LINUX_SLL (Linux cooked), capture size 262144 bytes
```
Thank you, I will continue to search the problem now that I have some hints.

> It seems to work with the urls = ["http://127.0.0.1:8086"] but not with urls = ["http://influxdb:8086"]

Are these the same influxdb server?

As of now this is not pointing to an issue with Telegraf, so I would suggest possibly asking for help on our [forums](https://community.influxdata.com/) or on our [slack](https://influxdata.com/slack) to see if others have ideas on how to resolve this.

Yes, I used the same server each time.

When I use telegraf on the VM, if I put `urls = ["http://127.0.0.1:8086"]` it works and writes to influxdb.
But if I use the IP of the VM, or the name of the docker, it doesn't works and prints the error 411 length required.

I will give a try to your forum and see if someone have an idea.

Thank you

Hello,

just to let you know I found the error.
In my organization we have a proxy. Every time telegraf was using the proxy (even in the docker network, don't know why).



You'll find below something strange, all packets from telegraf or the container has an incorrect checksum.
It makes this on every machines I tried.

```
07:51:55.861216 eth0  Out IP (tos 0x0, ttl 64, id 63438, offset 0, flags [DF], proto TCP (6), length 52)
    96b09c79068d.38346 > proxy: Flags [.], cksum 0xa2c2 (incorrect -> 0xc6e1), ack 1672, win 501, options [nop,nop,TS val 1161514995 ecr 4219518920], length 0
07:51:55.861267 eth0  Out IP (tos 0x0, ttl 64, id 63439, offset 0, flags [DF], proto TCP (6), length 52)
    96b09c79068d.38346 > proxy: Flags [.], cksum 0xa2c2 (incorrect -> 0xc5dc), ack 1933, win 501, options [nop,nop,TS val 1161514995 ecr 4219518920], length 0
07:51:55.861323 eth0  Out IP (tos 0x0, ttl 64, id 63440, offset 0, flags [DF], proto TCP (6), length 52)
    96b09c79068d.38346 > proxy: Flags [R.], cksum 0xa2c2 (incorrect -> 0xc5d8), seq 378, ack 1933, win 501, options [nop,nop,TS val 1161514995 ecr 4219518920], length 0
```

> Every time telegraf was using the proxy

Thanks